<div class="bg-gray-900 p-20">
  <form [formGroup]="teacherForm" (ngSubmit)="submit()">
    <div class="relative z-0 w-full mb-6 group">
      <label for="avatar"
             class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        Avatar
      </label>

      <input id="avatar" type="file" accept="image/png" formControlName="avatar" required
             (change)="encodeAvatar($event)"
             class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
      />
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-6 group">
        <input formControlName="nickname" name="nickname" id="nickname" required
               class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
        />

        <label for="nickname"
               class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Nickname
        </label>

        <div class="mt-2 text-sm text-red-600" *ngIf="isSubmit && formControl['nickname'].errors">
          <div *ngIf="formControl['nickname'].errors['required']">
            Debes poner tu nickname.
          </div>
        </div>
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <input formControlName="center" name="center" id="center" required
               class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
        />

        <div class="mt-2 text-sm text-red-600" *ngIf="isSubmit && formControl['center'].errors">
          <div *ngIf="formControl['center'].errors['required']">
            Debes poner el centro.
          </div>
        </div>

        <label for="center"
               class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Centro
        </label>
      </div>
    </div>

    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-6 group">
        <input formControlName="name" name="name" id="name" required
               class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
        />

        <div class="mt-2 text-sm text-red-600" *ngIf="isSubmit && formControl['name'].errors">
          <div *ngIf="formControl['name'].errors['required']">
            Debes poner tu nombre.
          </div>
        </div>

        <label for="name"
               class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Nombre
        </label>
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <input formControlName="surnames" name="surnames" id="surnames" required
               class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
        />

        <div class="mt-2 text-sm text-red-600" *ngIf="isSubmit && formControl['surnames'].errors">
          <div *ngIf="formControl['surnames'].errors['required']">
            Debes poner tus apellidos.
          </div>
        </div>

        <label for="surnames"
               class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Apellidos
        </label>
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <input formControlName="password" type="password" name="password" id="password" required
               class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
        />

        <div class="mt-2 text-sm text-red-600" *ngIf="isSubmit && formControl['password'].errors">
          <div *ngIf="formControl['password'].errors['required']">
            Debes poner la contraseña.
          </div>
        </div>

        <label for="password"
               class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Contraseña
        </label>
      </div>

      <div class="relative z-0 w-full mb-6 group">
        <input formControlName="password_confirmation" type="password" name="password_confirmation"
               id="password_confirmation" required
               class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
        />

        <div class="mt-2 text-sm text-red-600" *ngIf="isSubmit && formControl['password_confirmation'].errors">
          <div *ngIf="formControl['password_confirmation'].errors['required']">
            Debes poner la contraseña de nuevo.
          </div>
        </div>

        <label for="password_confirmation"
               class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Confirmar contraseña
        </label>
      </div>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input formControlName="email" type="email" name="email" id="email" required
             class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
      />

      <div class="mt-2 text-sm text-red-600" *ngIf="isSubmit && formControl['email'].errors">
        <div *ngIf="formControl['email'].errors['required']">
          Debes poner tu email.
        </div>

        <div *ngIf="formControl['email'].errors['email']">
          Debes poner un correo electrónico válido.
        </div>
      </div>

      <label for="email"
             class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
    </div>

    <div class="flex items-center mb-4">
      <input formControlName="tos" id="tos" type="checkbox" required
             class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      />
      <label for="tos" class="ml-2 text-sm font-medium text-gray-300">
        Acepto los términos de servicio
      </label>

      <div class="mt-2 text-sm text-red-600" *ngIf="isSubmit && formControl['tos'].errors">
        <label class="ml-2" *ngIf="isSubmit && formControl['tos'].errors['required']">
          Debes aceptar los términos de servicio
        </label>
      </div>
    </div>

    <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Registrarse
    </button>
  </form>
</div>
