<section>
  <p-toast
    position="center"
    key="passwordChange"
    (onClose)="onReject()"
    [baseZIndex]="5000"
  >
    <ng-template let-message pTemplate="message">
      <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <div class="flex flex-column" style="flex: 1">
          <div class="text-center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

            <h4>{{ message.summary }}</h4>

            <label for="password">Contraseña Actual</label>
            <p-password
              id="password"
              [toggleMask]="true"
              formControlName="password"
            ></p-password>

            <label for="new_password">Contraseña Nueva</label>
            <p-password
              id="new_password"
              [toggleMask]="true"
              formControlName="new_password"
            ></p-password>
          </div>

          <div class="grid p-fluid">
            <div class="col-6">
              <button
                type="submit"
                pButton
                label="Cambiar contraseña"
                class="p-button-success"
              ></button>
            </div>

            <div class="col-6">
              <button
                type="button"
                pButton
                (click)="onReject()"
                label="Cancelar"
                class="p-button-secondary"
              ></button>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </p-toast>

  <div class="grid grid-cols-2 divide-x">
    <div class="p-8">
      <button (click)="toggle()" class="">
        <img
          [src]="teacher.avatar"
          alt="Avatar"
          class="rounded-full w-72 h-72 p-overlay-badge"
        />
        <p-badge [value]="'Profesor'"></p-badge>
      </button>

      <ng-container *ngIf="show">
        <input
          (change)="encodeAvatar($event)"
          class="mt-5 mb-5 block w-full text-sm text-gray-900 border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="file_input"
          type="file"
        />
      </ng-container>

      <div class="grid grid-cols-2 gap-6">
        <div>Nombre</div>
        <div>{{ teacher.name }}</div>

        <div>Apellidos</div>
        <div>{{ teacher.surnames }}</div>

        <div>Email</div>
        <div>{{ teacher.email }}</div>

        <div>Centro</div>
        <div>{{ teacher.center }}</div>

        <button
          pButton pRipple
          class="p-button-raised col-span-2"
          (click)="showPasswordChangeForm()">
          Cambiar contraseña
        </button>
      </div>
    </div>

    <div class="flex flex-col gap-4 p-8">
      <p-table [value]="courses">
        <ng-template pTemplate="caption">
          <div class="table-header">Cursos</div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Curso</th>
            <th>Total Alumnos</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-curso>
          <tr>
            <td>{{ curso.name }}</td>
            <td>{{ curso.totalStudents }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          Total Alumnos <span class="decoration-wavy">30</span>
        </ng-template>
      </p-table>

      <p-card header="Crear Ranking">
        <form [formGroup]="createRankingForm" (ngSubmit)="submit()" class="flex flex-row gap-2">
          <span class="p-float-label">
            <input
              id="ranking-name" pInputText
              formControlName="name"
              required/>

            <label for="ranking-name">Nombre del Ranking</label>
          </span>

          <button pButton pRipple>
            Añadir Ranking
          </button>
        </form>
      </p-card>
    </div>
  </div>

  <hr/>

  <div class="p-8">
    <p-card header="Rankings Creados" [ngSwitch]="createdRankings.length">
      <div *ngSwitchCase="0">Ningun ranking creado</div>

      <div *ngSwitchDefault>
        <p-table
          *ngFor="let ranking of createdRankings"
          [value]="ranking.students"
          [rowHover]="true"
          [paginator]="true"
          [rowsPerPageOptions]="[3, 5, 10, 25]"
          [rows]="3"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="caption">
            <div class="table-header">
              {{ ranking.name }} - {{ ranking.code }}
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Nickname del estudiante</th>
              <th>Nombre del estudiante</th>
              <th>Puntos</th>

              <th class="grid gap-4 grid-cols-3">
                <p-splitButton
                  label="Añadir entrega"
                  styleClass="p-button-outlined"
                  [model]="createRankingButtonsForRanking(ranking)"
                ></p-splitButton>

                <button
                  pButton
                  pRipple
                  label="Añadir entrega"
                  icon="pi pi-plus-circle"
                  (click)="showAssignmentForm()"
                ></button>

                <button
                  pButton
                  pRipple
                  class="p-button-danger"
                  label="Borrar Entrega"
                  icon="pi pi-trash"
                ></button>

                <button
                  pButton
                  pRipple
                  class="p-button-help"
                  label="Generar Nuevo Código de Ranking"
                  icon="pi pi-undo"
                  (click)="changeRankingId(ranking)"
                ></button>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-student let-rowIndex="rowIndex">
            <tr class="p-selectable-row w-full">
              <td>{{ rowIndex + 1 }}</td>
              <td>{{ student.nickname }}</td>
              <td>{{ student.name }}</td>

              <td>
                <p-inputNumber
                  incrementButtonClass="p-button-outlined"
                  decrementButtonClass="p-button-outlined"
                  [showButtons]="true"
                  [disabled]="!inputEnabled"
                  [(ngModel)]="student.pivot.points"
                  (onBlur)="modifyStudentPoints(ranking, student)">
                </p-inputNumber>
              </td>

              <td class="grid gap-4 grid-cols-2">
                <button
                  pButton
                  pRipple
                  class="p-button-warning"
                  label="Modificar Puntuación"
                  icon="pi pi-pencil"
                  [disabled]="inputEnabled"
                  (click)="inputEnabled = true"
                ></button>

                <button
                  pButton
                  pRipple
                  class="p-button-danger"
                  label="Borrar Alumno"
                  icon="pi pi-trash"
                  (click)="deleteStudent(student)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>

    <p-card header="Tareas Creadas" [ngSwitch]="createdAssignments.length">
      <div *ngSwitchCase="0">No hay tareas</div>

      <p-table
        *ngSwitchDefault
        [value]="createdAssignments"
        [rowHover]="true"
        [paginator]="true"
        [rowsPerPageOptions]="[3, 5, 10, 25]"
        [rows]="3"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="caption">
          <div class="table-header">Tareas</div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Contenido</th>
            <th>Puntos</th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-assignment let-rowIndex="rowIndex">
          <tr class="p-selectable-row w-full">
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ assignment.title }}</td>
            <td>{{ assignment.description }}</td>
            <td>{{ assignment.content }}</td>

            <td>
              <p-inputNumber
                incrementButtonClass="p-button-outlined"
                decrementButtonClass="p-button-outlined"
                [showButtons]="true"
                [(ngModel)]="assignment.points">
              </p-inputNumber>
            </td>

            <td>
              <button
                pButton
                pRipple
                class="p-button-danger"
                label="Borrar Entrega"
                icon="pi pi-trash"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <ng-container *ngIf="showAssignment">
      <div class="p-4">
        <form [formGroup]="assignmentForm">
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label for="titulo" class="inline-block text-white font-bold mb-2">
                Título de la entrega
              </label>

              <input
                id="titulo"
                type="text"
                pInputText
                formControlName="titleAssignment"
                class="w-full border border-gray-300 p-2 rounded-lg shadow-sm focus:outline-none focus:border-blue-300"
                placeholder="Ingrese el título de la entrega"
              />
            </div>

            <div>
              <label
                for="descripcion"
                class="inline-block text-white font-bold mb-2"
              >Descripción de la entrega</label
              >
              <input
                id="descripcion"
                type="text"
                pInputText
                formControlName="descriptionAssignment"
                class="w-full border border-gray-300 p-2 rounded-lg shadow-sm focus:outline-none focus:border-blue-300"
                placeholder="Ingrese la descripción de la entrega"
              />
            </div>

            <div>
              <label
                for="contenido"
                class="inline-block text-white font-bold mb-2"
              >Contenido de la entrega</label
              >
              <input
                id="contenido"
                type="text"
                pInputText
                formControlName="contentAssignment"
                class="w-full border border-gray-300 p-2 rounded-lg shadow-sm focus:outline-none focus:border-blue-300"
                placeholder="Ingrese el contenido de la entrega"
              />
            </div>

            <div>
              <label for="puntos" class="inline-block text-white font-bold mb-2"
              >Puntos de la entrega</label
              >
              <input
                id="puntos"
                type="number"
                pInputNumber
                formControlName="pointsAssignment"
                class="w-full border border-gray-300 p-2 rounded-lg shadow-sm focus:outline-none focus:border-blue-300"
                placeholder="Ingrese los puntos de la entrega"
              />
            </div>
          </div>
        </form>
      </div>

      <button
        (click)="createAssignment()"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Crear tarea
      </button>
    </ng-container>
  </div>
</section>
