<head>
  <meta
    name="description"
    content="Gestionar el perfil del profesor. Podrá crear tareas y rankings para los alumnos."
  />
  <title>Perfil | Profesor</title>
</head>

<section>
  <div class="grid grid-cols-2 divide-x">
    <p-card class="p-8">
      <div class="inline-flex justify-center w-full mb-4">
        <div>
          <p-badge [value]="'Profesor'"></p-badge>

          <img
            [src]="teacher.avatar"
            alt="Avatar"
            class="rounded-full w-72 h-72 align-self-center bg-gradient-to-br from-cyan-300"
            (click)="toggle()"
          />

          <p-fileUpload
            *ngIf="show"
            mode="basic"
            chooseLabel="Cargar imagen"
            accept="image/*"
            [maxFileSize]="1000000"
            (onSelect)="encodeAvatar($event)"
          ></p-fileUpload>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-6">
        <div>Nombre</div>
        <div>{{ teacher.name }}</div>

        <div>Apellidos</div>
        <div>{{ teacher.surnames }}</div>

        <div>Email</div>
        <div>{{ teacher.email }}</div>

        <div>Centro</div>
        <div>{{ teacher.center }}</div>

        <button
          pButton
          pRipple
          class="p-button-raised col-span-2"
          (click)="showPasswordChangeForm()"
        >
          Cambiar contraseña
        </button>
        <p-dialog
          [(visible)]="showPasswordChangeDialog"
          (onHide)="onShowPasswordDialogReject()"
        >
          <ng-template pTemplate="header">
            <i class="pi pi-exclamation-triangle text-xl"></i>
            Cambiar Contraseña
          </ng-template>

          <form
            [formGroup]="passwordForm"
            (ngSubmit)="changePassword()"
            class="flex flex-col gap-5 mt-5"
          >
            <span class="p-float-label">
              <input
                id="password"
                pPassword
                type="password"
                [feedback]="true"
                autocomplete="current-password"
                formControlName="password"
              />
              <label for="password">Contraseña Actual</label>
            </span>

            <span class="p-float-label">
              <input
                id="new_password"
                pPassword
                type="password"
                autocomplete="new-password"
                formControlName="new_password"
              />
              <label for="password">Contraseña Nueva</label>
            </span>

            <span class="p-buttonset">
              <button
                pButton
                pRipple
                label="Cambiar"
                class="p-button-success"
              ></button>

              <button
                type="button"
                pButton
                pRipple
                (click)="onShowPasswordDialogReject()"
                label="Cancelar"
                class="p-button-secondary"
              ></button>
            </span>
          </form>
        </p-dialog>
      </div>
    </p-card>

    <div class="flex flex-col gap-4 p-8">
      <p-table [value]="courses">
        <ng-template pTemplate="caption">
          <div class="table-header">Cursos</div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Curso</th>
            <th>Total Alumnos</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-curso>
          <tr>
            <td>{{ curso.name }}</td>
            <td>{{ curso.totalStudents }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          Total <span class="underline decoration-wavy">30</span>
        </ng-template>
      </p-table>

      <p-card header="Crear Ranking">
        <form
          [formGroup]="createRankingForm"
          (ngSubmit)="createRankingSubmit()"
          class="flex flex-row gap-2"
        >
          <span class="p-float-label">
            <input
              id="ranking-name"
              pInputText
              formControlName="name"
              required
            />

            <label for="ranking-name">Nombre del Ranking</label>
          </span>

          <button pButton pRipple>Añadir Ranking</button>
        </form>
      </p-card>
    </div>
  </div>

  <p-divider></p-divider>

  <div class="p-8">
    <p-card header="Rankings Creados" [ngSwitch]="createdRankings.length">
      <div *ngSwitchCase="0">Ningun ranking creado</div>

      <div *ngSwitchDefault class="flex flex-col gap-8">
        <p-fieldset
          [legend]="ranking.name"
          [toggleable]="true"
          [collapsed]="true"
          *ngFor="let ranking of createdRankings"
        >
          <p-table
            [value]="ranking.students"
            [rowHover]="true"
            [paginator]="true"
            [rowsPerPageOptions]="[3, 5, 10, 25]"
            [rows]="3"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando desde {first} a {last} del total {totalRecords} de estudiantes"
          >
            <ng-template pTemplate="caption">
              <div class="table-header flex justify-between">
                <p-splitButton
                  [label]="ranking.code"
                  styleClass="p-button-secondary"
                  (onClick)="miscService.copyText($event)"
                  (onDropdownClick)="setSelectedRanking(ranking)"
                  [model]="rankingButtons"
                ></p-splitButton>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th>#</th>
                <th>Nickname</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Puntos</th>
                <th></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-student let-rowIndex="rowIndex">
              <tr class="p-selectable-row w-full">
                <td>{{ rowIndex + 1 }}</td>
                <td>{{ student.nickname }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.surnames }}</td>

                <td>
                  <p-inplace
                    [closable]="true"
                    (onDeactivate)="modifyStudentPoints(ranking, student)"
                  >
                    <ng-template pTemplate="display">
                      {{ student.pivot.points }}
                    </ng-template>

                    <ng-template pTemplate="content">
                      <p-inputNumber
                        incrementButtonClass="p-button-outlined"
                        decrementButtonClass="p-button-outlined"
                        [showButtons]="true"
                        [(ngModel)]="student.pivot.points"
                      ></p-inputNumber>
                    </ng-template>
                  </p-inplace>
                </td>

                <td class="flex justify-end">
                  <p-button
                    icon="pi pi-trash"
                    styleClass="p-button-danger"
                    label="Borrar alumno"
                    (onClick)="deleteStudent(student, $event)"
                  ></p-button>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6" class="text-lg">Ningun estudiante asignado</td>
              </tr>
            </ng-template>
          </p-table>
        </p-fieldset>
      </div>
    </p-card>
  </div>

  <p-sidebar [(visible)]="isSidebarVisible" position="right">
    <form
      [formGroup]="assignmentForm"
      (ngSubmit)="createAssignment()"
      class="flex flex-col gap-6"
    >
      <div class="flex flex-col gap-2">
        <label for="title">Titulo</label>
        <input pInputText id="title" formControlName="title" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="description">Descripción</label>
        <input pInputText id="description" formControlName="description" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="content">Contenido</label>
        <input id="content" pInputText formControlName="content" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="points">Puntos</label>
        <p-inputNumber
          id="points"
          formControlName="points"
          [showButtons]="true"
          styleClass="w-full"
        ></p-inputNumber>
      </div>

      <button pButton pRipple class="w-full">Crear tarea</button>
    </form>
  </p-sidebar>
</section>

<p-dialog [(visible)]="showRankingUpdateDialog" *ngIf="selectedRanking">
  <ng-template pTemplate="header">Actualizar Ranking</ng-template>

  <span class="p-float-label">
    <input pInputText id="ranking-name" [(ngModel)]="selectedRanking.name" />
    <label htmlFor="ranking-name">Nombre</label>
  </span>

  <p-button
    label="Actualizar"
    styleClass="p-button-warning"
    icon="pi pi"
  ></p-button>
</p-dialog>
