<section class="pt-16 pb-16 bg-gray-900 mx-auto text-center">
  <div class="grid grid-cols-2 divide-x">
    <div>
      <div class="w-full px-5 mx-auto">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16"
        >
          <div class="px-10">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4 flex justify-center">
                <div class="relative">
                  <img
                    src="https://i.pinimg.com/originals/ef/cd/09/efcd09ee321f51424c99890c73557c8c.jpg"
                    class="shadow-xl rounded-full align-middle w-72 h-72 mt-3"
                  />
                  <span
                    class="mt-3 Fbg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                  >Profesor</span
                  >
                </div>
              </div>
            </div>
            <div class="text-start mt-5">
              <h3
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Nombre: {{ teacher.nickname }}
              </h3>
              <h2
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Apellidos: {{ teacher.name }} {{ teacher.surnames }}
              </h2>
              <h2
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Email: {{ teacher.email }}
              </h2>
              <h2
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Centro: {{ teacher.center }}
              </h2>
              <h2
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Contraseña
                <button
                  type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                >
                  Cambiar contraseña
                </button>
              </h2>
              <div
                class="text-sm leading-normal mt-0 mb-6 text-blue-400 font-bold uppercase"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="w-full px-5 mx-auto">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16"
        >
          <div class="px-10">
            <div class="text-center mt-5">
              <h2 class="mb-2 text-lg font-semibold text-black">Cursos:</h2>
              <ul class="max-w-md space-y-1 text-black list-disc list-inside">
                <li>DAW</li>
                <li>DAM</li>
                <li>SMX</li>
              </ul>

              <h2
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Alumnos: 52
              </h2>
              <div
                class="text-sm leading-normal mt-0 mb-6 text-blue-400 font-bold uppercase"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
