<div class="bg-gray-900 p-20">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="email"
        name="email"
        id="email"
        class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
        formControlName="email"
      />

      <div
        *ngIf="isSubmit && formControl['email'].errors"
        class="mt-2 text-sm text-red-600"
      >
        <div *ngIf="formControl['email'].errors['required']">
          Debes poner tu email.
        </div>

        <div *ngIf="formControl['email'].errors['email']">
          Debes poner un correo electrónico válido.
        </div>
      </div>

      <label
        for="email"
        class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Email</label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input
        type="password"
        name="password"
        id="password"
        class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white focus:outline-none focus:ring-0 focus:border-red-400 peer"
        placeholder=" "
        formControlName="password"
        required
      />

      <div
        *ngIf="isSubmit && formControl['password'].errors"
        class="mt-2 text-sm text-red-600"
      >
        <div *ngIf="formControl['password'].errors['required']">
          Debes poner la contraseña.
        </div>
      </div>

      <label
        for="password"
        class="peer-focus:font-medium absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Contraseña</label>
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Iniciar sesión
    </button>
  </form>
</div>
