<section class="pt-16 pb-16 bg-gray-900">
  <p-toast position="center" key="passwordChange" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <div class="flex flex-column" style="flex: 1">
          <div class="text-center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>

            <h4>{{message.summary}}</h4>

            <label for="password">Contraseña Actual</label>
            <p-password id="password" [toggleMask]="true" formControlName="password"></p-password>

            <label for="new_password">Contraseña Nueva</label>
            <p-password id="new_password" [toggleMask]="true" formControlName="new_password"></p-password>
          </div>

          <div class="grid p-fluid">
            <div class="col-6">
              <button type="submit" pButton label="Cambiar contraseña" class="p-button-success"></button>
            </div>

            <div class="col-6">
              <button type="button" pButton (click)="onReject()" label="Cancelar" class="p-button-secondary"></button>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </p-toast>

  <div class="grid grid-cols-2 divide-x">
    <div>
      <div class="w-full px-5 mx-auto">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-xl rounded-lg mt-16"
        >
          <div class="px-10">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4 flex justify-center">
                <div class="relative">
                  <button (click)="toggle()">
                    <img
                      [src]="student.avatar"
                      alt="Avatar"
                      class="shadow-xl rounded-full align-middle w-72 h-72 mt-3"
                    />
                  </button>

                  <ng-container *ngIf="show">
                    <input
                      (change)="encodeAvatar($event)"
                      class="mt-5 mb-5 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                      id="file_input"
                      type="file"
                    />

                    <div class="text-center">
                      <button
                        (click)="updateAvatar()"
                        type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                      >
                        Guardar cambios
                      </button>
                    </div>
                  </ng-container>

                  <div class="text-center">
                    <span
                      class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                    >Estudiante</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="text-start">
              <h3
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Nombre: {{ student.nickname }}
              </h3>
              <h3
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Fecha de nacimiento: {{ student.birth_date }}
              </h3>
              <h2
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Apellidos: {{ student.surnames }}
              </h2>
              <h2
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Email: {{ student.email }}
              </h2>
              <h2
                class="text-xl font-semibold leading-normal text-gray-700 mb-2"
              >
                Contraseña
                <button
                  type="button"
                  (click)="showPasswordChangeForm()"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                >
                  Cambiar contraseña
                </button>
              </h2>
              <div
                class="text-sm leading-normal mt-0 mb-6 text-blue-400 font-bold uppercase"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="w-full px-5 mx-auto">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-xl rounded-lg mt-16"
        >
          <div class="px-10">
            <div class="flex justify-center py-4 lg:pt-4 pt-8">
              <div class="mr-4 p-3 text-center">
                <span
                  class="text-xl font-bold block uppercase tracking-wide text-blue-600"
                >
                  22
                </span>
                <span class="text-sm text-gray-400">Experiencia</span>
              </div>
              <div class="mr-4 p-3 text-center">
                <span
                  class="text-xl font-bold block uppercase tracking-wide text-blue-600"
                >
                  10
                </span>
                <span class="text-sm text-gray-400">Gemas</span>
              </div>
              <div class="lg:mr-4 p-3 text-center">
                <span
                  class="text-xl font-bold block uppercase tracking-wide text-blue-600"
                >
                  89
                </span>
                <span class="text-sm text-gray-400">Nivel</span>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-1 divide-y p-5">
            <span>Inventario:</span>
            <div>1 Espada</div>
            <div>3 Diamantes</div>
            <div>1 Mapa</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="p-20">
    <form [formGroup]="codeForm" (ngSubmit)="joinRanking()">
      <label>
        <input formControlName="code" placeholder="Codigo del Ranking"/>
      </label>

      <button type="submit">Enviar</button>
    </form>

    <!-- <div class="grid grid-cols-4 gap-4 w-full">
      <div *ngFor="let ranking of rankings"
          class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <caption [innerText]="ranking.code"></caption>

            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">#</th>
                <th scope="col" class="px-6 py-3">Estudiante</th>
                <th scope="col" class="px-6 py-3">Puntos</th>
              </tr>
            </thead>

            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                *ngFor="let student of ranking.students; index as i"
              >
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ i + 1 }}
                </th>

                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ student.nickname }}
                </th>

                <td class="px-6 py-4">
                  {{ student.pivot.points }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->

    <p-card header="Rankings" [ngSwitch]="rankings.length">
      <div *ngSwitchCase="0">
        No estas dentro de nigun ranking
      </div>

      <div *ngSwitchDefault>
        <p-table
          *ngFor="let ranking of rankings"
          [value]="ranking.students"
          [loading]="loading"
          [rowHover]="true"
          [paginator]="true"
          [rowsPerPageOptions]="[3, 5, 10, 25]" [rows]="3"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="caption">
            <div class="table-header">
              {{ ranking.name }}
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Estudiante</th>
              <th>Puntos</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-student let-rowIndex="rowIndex">
            <tr class="p-selectable-row">
              <td>{{ rowIndex + 1 }}</td>
              <td>{{ student.nickname }}</td>
              <td>{{ student.pivot.points }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>
</section>
