<footer
  class="bottom-0 left-0 z-20 w-full p-4 border-t shadow md:flex md:items-center md:justify-between md:p-6 bg-gray-800 border-gray-600"
>
  <span class="text-sm sm:text-center text-gray-400">
    © {{ currentYear }} <a href="#" class="hover:underline">Z-Theory™</a>. Todos los derechos reservados.
  </span>

  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-400 sm:mt-0">
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Sobre nosotros</a>
    </li>

    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6"
      >Politica de privacidad</a
      >
    </li>

    <li>
      <a href="#" class="hover:underline">Contacto</a>
    </li>
  </ul>
</footer>
