<head>
  <meta
    name="description"
    content="Gestionar todas las peticiones de entrada a los rankings por parte de los alumnos."
  />
  <title>Perfil | Profesor</title>
</head>

<p-confirmPopup></p-confirmPopup>

<ng-container *ngFor="let ranking of rankings">
  <p-table [value]="ranking.queue" styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
      <p class="text-xl">{{ ranking.name }}</p>
      <p class="text-sm">{{ ranking.code }}</p>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template let-student pTemplate="body">
      <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.surnames }}</td>
        <td [ngSwitch]="student.pivot.join_status_id">
          <p *ngSwitchDefault>??</p>
          <p *ngSwitchCase="1">Aceptado</p>
          <p *ngSwitchCase="2">Pendiente</p>
          <p *ngSwitchCase="3">Rechazado</p>
        </td>

        <td>
          <span
            class="p-buttonset"
            *ngIf="isPending(student.pivot.join_status_id)"
          >
            <button
              pButton
              pRipple
              class="p-button-outlined"
              label="Acceptar"
              (click)="acceptStudent(ranking.code, student)"
            ></button>

            <button
              pButton
              pRipple
              class="p-button-outlined p-button-warning"
              label="Rechazar"
              (click)="declineStudent(ranking, student, $event)"
            ></button>
          </span>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-lg">Ningun petición</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
